<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Marklist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <div class='jumbotron' style=background:skyblue><center><h1>MARKLIST GENERATOR</h1></center></div>
    <div class='container'>
        <center>
        <form method="POST" action="/send">
            <div class='card'>
                <table>
                    <tr>
                        <td>
                            Name: 
                        </td>
                        <td>
                            <input type='text' placeholder="enter name" name='name'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Reg.no.: 
                        </td>
                        <td>
                            <input type='number' placeholder='enter register no.' name='regno'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Semester: 
                        </td>
                        <td>
                            <select name='sem'>
                                <option>S1S2</option>
                                <option>S3</option>
                                <option>S4</option>
                                <option>S5</option>
                                <option>S6</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            College
                        </td>
                        <td>
                            <input type='text' placeholder="college" name='college'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Malayalam
                        </td>
                        <td>
                            <input type='number' placeholder="Enter marks obtained" name="sub1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maximum marks
                        </td>
                        <td>
                            <input type='number' placeholder="enter max marks" name="sub1m">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            English
                        </td>
                        <td>
                            <input type='number' placeholder="Enter marks obtained" name="sub2">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maximum marks 
                        </td>
                        <td>
                            <input type='number' placeholder="enter max marks" name="sub2m">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Mathematics
                        </td>
                        <td>
                            <input type='number' placeholder="Enter marks obtained" name="sub3">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maximum marks 
                        </td>
                        <td>
                            <input type='number' placeholder="enter max marks" name="sub3m"> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Computer Science
                        </td>
                        <td>
                            <input type='number' placeholder="Enter marks obtained" name="sub4">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Maximum marks
                        </td>
                        <td>
                            <input type='number' placeholder="enter max marks" name="sub4m"> 
                        </td>
                    </tr>
                    <br><br><br>
                    <tr>
                        <td></td>
                        <td>
                            <button type='submit' name='submit'>Generate</button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        </center>
    </div>
</body>
</html>